@model ASP_PV411.Models.Cart.CartIndexViewModel
@{
    ViewData["Title"] = "Cart";
}

<div class="text-center">
    <h1 class="display-4">Мій кошик</h1>
</div>
id: @Model.Cart?.Id

@if(!Model.IsAuthorized)
{
    <div class="alert alert-danger text-center" role="alert">
        Для перегляду кошику необхідно увійти до системи
    </div>
}
else if(Model.Cart == null)
{
    <div class="alert alert-warning text-center" role="alert">
        Ваш кошик поки що порожній
    </div>
    <a class="btn btn-success" asp-controller="Shop">До крамниці</a>
}
else
{
    foreach(var ci in Model.Cart.CartItems)
    {
        <div class="border m-4 p-3 shadow row">
            <div class="col col-2">
                <a class="nav-link w-100" 
                   asp-controller="Shop"
                   asp-action="Product" 
                   asp-route-id="@(ci.Product.Slug ?? ci.Product.Id.ToString())">
				    <img src="/Storage/Item/@(ci.Product.ImageUrl)" class="w-100" alt="@ci.Product.Name" />
                </a>
            </div>
            <div class="col col-5">
				<h2>@ci.Product.Name</h2>
				@ci.Product.Description
            </div>
			<div class="col col-1 text-center">
                <h5>Ціна</h5>
                @ci.Product.Price
            </div>
            <div class="col col-2 text-center">
                <h5>Кількість</h5>
                <div class="border mt-2 p-2 d-inline-flex gap-2 align-items-center">
                    @*TODO:реалізувати роботу кнопок зміни кількості замовлення*@
                    <div class="rounded-circle bg-body-secondary wh-2 center" role="button">-</div>
					@ci.Quantity
                    <div class="rounded-circle bg-body-secondary wh-2 center" role="button">+</div>
                </div>
            </div>
            <div class="col col-1 text-center">
                <h5>Вартість</h5>
                @ci.Price
            </div>

            <div class="col col-1 text-end ">
                <i class="bi bi-trash3 text-danger" role="button"></i>
            </div>
        </div>
    }

    if(Model.Cart.CloseAt == null)
    {
		<button class="btn btn-success" data-buy-cart="@Model.Cart.Id">Придбати</button>
		<button class="btn btn-danger" data-drop-cart="@Model.Cart.Id">Відкласти</button>
    }
    else if (Model.Cart.CloseStatus == 1)
    {
        <button class="btn btn-primary" data-repeat-cart="@Model.Cart.Id">Повторити</button>
    }
    else
    {
        <button class="btn btn-primary" data-restore-cart="@Model.Cart.Id">Відновити</button>
    }

    
    @*
        Д.З. Реалізувати приховування кнопок управління кількістю, а також
        видалення позиції кошику на сторінках перегляду "закритих" кошиків - 
        як придбаних, так і скасованих.
    *@
}